:root {
  --fundo: #F4F5F7;
  --fundo-secundario: #FFFFFF;
  --cor-principal: #4F46E5;
  --destaque: #E11D48;
  --destaque-secundario: #0891B2;
  --texto: #18181B;
  --texto-secundario: #52525B;
--bordas: #D4D4D8;
}
